/* Reset and Basic Styling */

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  max-width: 1400px;
  margin: 0.5rem 0;
}

.gallery-item {
  flex: 1 1 calc(25% - 10px);
  max-width: calc(25% - 10px);
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
}

@media (max-width: 600px) {
  .gallery-item {
    flex: 1 1 calc(50% - 10px);
    max-width: calc(50% - 10px);
  }
}
